* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:sans-serif;
}

#start {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 20;
}

.underBar {
  display: flex;
  justify-content: center;
}

.underBar div {
  height: 5px;
  width: 50px;
  background-color: red;
}

header {
  height: 80px;
  background-color: #232f3e;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.headerItems {
  height: 100%;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerItems > * {
  display: flex;
  margin-left: 15px;
}

.logo {
  padding: 3px;
  z-index: 10;
}

.logo a {
  display: flex;
  align-items: center;
}

.mainVisual {
  background-image: url(../img/mainVisual.jpg);
  height: 500px;
  background-size: cover;
  background-position: 50% 70%;
  display: flex;
  justify-content: center;
}

.mainVisual-text {
  height: 200px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.527);
  margin: auto 0;
  z-index: 1;
  box-shadow: 25px 25px rgba(85, 255, 85, 0.5);
}

.mainVisual-text h1 {
  color: white;
  text-align: center;
  line-height: 200px;
}

.mission {
  margin-top: 30px;
}

.heading {
  text-align: center;
}

.aboutMsg {
  margin: 30px 0;
  text-align: center;
}

.aboutMsg > h3 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.aboutMsg-box {
  margin: 30px 0;
  background-image: url(../img/aboutMsg.jpg);
  background-size: cover;
  background-position: 50% 65%;
  justify-content: center;
}

.aboutMsg-box-bgColor {
  padding: 90px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.274);
  display: flex;
  justify-content: center;
}

.aboutMsg-box-bgColor div {
  color: #ffffff;
  margin: 0 50px;
}

.aboutMsg-box h2 {
  border: solid 1px white;
  padding: 5px;
  text-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
}

.aboutMsg-box h3 {
  text-shadow: 0 0 2px black;
}

.member {
  margin-top: 50px;
}

.CEO-box {
  margin: 50px 0;
}

.CEOImg {
  background-image: url(../img/dyasuda.jpg);
  height: 400px;
  width: 800px;
  margin: 0 auto;
  background-size: cover;
  background-position: 50% 70%;
  margin-bottom: 10px;
}

.CEOIntroduction {
  text-align: center;
}

.CEOIntroduction > p {
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.CEOIntroduction img{
  margin-top: 20px;
}

footer {
  height: 120px;
  background-color: #232f3e;
  line-height: 120px;
  color: white;
  text-align: center;
}

.bottomMenu {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100px;
  z-index: 10;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.bottomMenu > a {
  text-decoration: none;
}

.bottomMenuItem {
  border-left: 1px solid #0000007c;
  background-color: #0000007c;
  width:100px;
  height: 60px;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.bottomMenuItem:hover {
  border-left: 1px solid #000000c7;
  background-color: #000000c7;
  width:100px;
  height: 60px;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.bottomMenuItem > img {
  width: 25px;
  margin: auto 0;
}

.bottomMenuItem > p {
  font-size: 0.9rem;
}

@media screen and (max-width:425px) {

  header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .logo {
    top: 27px;
    left: 10px;
  }

  .mainVisual {
    height: 100vw;
  }

  .mainVisual-text {
    height: 100vw;
    box-shadow: none;
  }

  .mainVisual-text h1 {
    color: white;
    text-align: center;
    line-height: 100vw;
  }

  .aboutMsg-box-bgColor {
    padding: 50px 0;
    display: block;
  }

  .aboutMsg-box-bgColor div {
    margin: 30px 50px;
  }

  .aboutMsg-box-text {
    font-size: 0.8rem;
  }

  .CEOImg {
    width: 100vw;
  }

  footer {
    height: 180px;
  }

  .bottomMenu {
    height: 60px;
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-flow: wrap;
    justify-content: center;

  }

  .bottomMenuItem {
    border-left: none;
    background-color: #0000007c;
    width:25vw;
    height: 60px;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .bottomMenuItem:hover {
    border-left: 1px solid #000000c7;
    background-color: #000000c7;
    width:25vw;
    height: 60px;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}