* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#start {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 20;
}

.underBar {
  display: flex;
  justify-content: center;
}

.underBar div {
  height: 5px;
  width: 50px;
  background-color: red;
}

.logo {
  padding: 3px;
  position: absolute;
  top: 50px;
  left: 50px;
  border: solid 2px #ffffff;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
  font-family:'Times New Roman', Times, serif
}

.mainVisual {
  background-image: url(../img/mainVisual.jpg);
  height: 500px;
  background-size: cover;
  background-position: 50% 70%;
  display: flex;
  justify-content: center;
}

.mainVisual-text {
  height: 200px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.527);
  margin: auto 0;
  z-index: 1;
  box-shadow: 25px 25px rgba(85, 255, 85, 0.5);
}

.mainVisual-text h1 {
  color: white;
  text-align: center;
  line-height: 200px;
}

.mission {
  margin-top: 30px;
}

.heading {
  text-align: center;
}

.aboutMsg {
  margin: 30px 0;
  text-align: center;
}

.aboutMsg h3 {
  margin-top: 20px;
}

.aboutMsg-box {
  margin: 30px 0;
  background-image: url(../img/aboutMsg.jpg);
  background-size: cover;
  background-position: 50% 65%;
  justify-content: center;
}

.aboutMsg-box-bgColor {
  padding: 90px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.274);
  display: flex;
  justify-content: center;
}

.aboutMsg-box-bgColor div {
  color: #ffffff;
  margin: 0 50px;
}

.aboutMsg-box h2 {
  border: solid 1px white;
  padding: 5px;
  text-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
}

.aboutMsg-box h3 {
  text-shadow: 0 0 2px black;
}

.member {
  margin-top: 50px;
}

.member-box {
  margin: 50px 0;
}

.memberImg {
  background-image: url(../img/yasuda.jpg);
  height: 400px;
  width: 800px;
  margin: 0 auto;
  background-size: cover;
  background-position: 50% 70%;
  margin-bottom: 10px;
}

.memberIntroduction {
  text-align: center;
}

.memberIntroduction > p {
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.memberIntroduction img{
  margin-top: 20px;
}

footer {
  height: 120px;
  background-color: rgb(187, 187, 187);
  line-height: 120px;
  color: white;
  text-align: center;
}

@media screen and (max-width:425px) {

  header {
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    top: 27px;
    left: 10px;
    border: solid 2px #000000;
  }

  .logo a {
    color: #000000;
  }

  .mainVisual {
    height: 100vw;
  }

  .mainVisual-text {
    height: 100vw;
    box-shadow: none;
  }

  .mainVisual-text h1 {
    color: white;
    text-align: center;
    line-height: 100vw;
  }

  .aboutMsg-box-bgColor {
    padding: 50px 0;
    display: block;
  }

  .aboutMsg-box-bgColor div {
    margin: 30px 50px;
  }

  .aboutMsg-box-text {
    font-size: 0.8rem;
  }

  .memberImg {
    background-image: url(../img/yasuda.jpg);
    height: 400px;
    width: 100vw;
    margin: 0 auto;
    background-size: cover;
    background-position: 50% 70%;
    margin-bottom: 10px;
  }

}