

main{
  background-image: url(../img/mainVisual.jpg);
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
}

.coTango-form{
  text-align: center;
  color: white;
  padding: 50px 0;
}

.coTango-form-text{
  margin-bottom: 50px;
}

.formItem-links {
  color: white;
}

.form > div{
  background-color: rgba(0, 0, 0, 0.637);
  padding: 15px;
  width: 80%;
  margin: 0 auto;
}

#name, #email {
  margin-top: 10px;
  font-size: 1.3rem;
  width: 50%;
}

.checkbox{
  text-align: left;
  display: inline-block;
}

button{
  text-align: center;
  width: 100%;
  padding: 10px 100px;
  background-color: rgba(100, 245, 100, 0.493);
  color: rgb(255, 255, 255);
  transition: 3ms;
  border: 1px solid rgb(157, 255, 157);
}

button:hover {
  color: rgb(157, 255, 157);
  background-color: #ffffff;
}


@media screen and (max-width:425px) {

  
  .coTango-form{
    padding: 50px 0 0 0;
    background-color: rgba(0, 0, 0, 0.637);
  }

  .form > div{
    background-color: rgba(0, 0, 0, 0);
    padding: 15px;
    width: 100%;
    margin: 0 auto;
  }

  .coTango-form-text{
    margin-bottom: 0;
  }

  .formItem {
    font-size: 1rem;
  }

  #name, #email {
    margin-top: 10px;
    font-size: 1.3rem;
    width: 90%;
  }
}