*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#start {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: white;
  z-index: 20;
}

header {
  height: 80px;
  background-color: #232f3e;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.headerItems {
  height: 100%;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerItems > * {
  display: flex;
  margin-left: 15px;
}

.logo {
  padding: 3px;
  z-index: 10;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
  font-family:sans-serif;
  font-size: 1em;
}


main{
  background-image: url(../img/mainVisual.jpg);
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
}

.coTango-form{
  text-align: center;
  color: white;
  padding: 50px 0;
}

.coTango-form-text{
  margin-bottom: 50px;
}

a{
  color: white;
}

.form > div{
  background-color: rgba(0, 0, 0, 0.637);
  padding: 15px;
  width: 80%;
  margin: 0 auto;
}

#name, #email {
  margin-top: 10px;
  font-size: 1.3rem;
  width: 50%;
}

.checkbox{
  text-align: left;
  display: inline-block;
}

button{
  text-align: center;
  width: 100%;
  padding: 10px 100px;
  background-color: rgba(100, 245, 100, 0.493);
  color: rgb(255, 255, 255);
  transition: 3ms;
  border: 1px solid rgb(157, 255, 157);
}

button:hover {
  color: rgb(157, 255, 157);
  background-color: #ffffff;
}

footer {
  height: 120px;
  background-color: #232f3e;
  line-height: 120px;
  color: white;
  text-align: center;
}

.bottomMenu {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 10vw;
  z-index: 10;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.bottomMenu > a {
  text-decoration: none;
}

.bottomMenuItem {
  border-left: 1px solid #0000007c;
  background-color: #0000007c;
  width:9vw;
  height: 60px;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.bottomMenuItem:hover {
  border-left: 1px solid #000000;
  background-color: #000000c7;
  width:9vw;
  height: 60px;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.bottomMenuItem > img {
  width: 25px;
  margin: auto 0;
}

.bottomMenuItem > p {
  text-decoration: none;
  font-size: 0.9rem;
}

@media screen and (max-width:425px) {

  header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    top: 27px;
    left: 10px;
  }

  .coTango-form{
    padding: 50px 0 0 0;
    background-color: rgba(0, 0, 0, 0.637);
  }

  .form > div{
    background-color: rgba(0, 0, 0, 0);
  }

  .coTango-form-text{
    margin-bottom: 0;
  }

  .formItem {
    font-size: 1rem;
  }

  #name, #email {
    margin-top: 10px;
    font-size: 1.3rem;
    width: 90%;
  }

  footer {
    height: 180px;
  }

  .bottomMenu {
    height: 60px;
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-flow: wrap;
    justify-content: center;

  }

  .bottomMenuItem {
    border-left: none;
    background-color: #0000007c;
    width:25vw;
    height: 60px;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .bottomMenuItem:hover {
    border-left: 1px solid #000000c7;
    background-color: #000000c7;
    width:25vw;
    height: 60px;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}