@charset "UTF-8";

.main {
  background-color: #31575b96;
  width: 100%;
  padding: 40px 40px 200px 40px;
}
.section-top {
  width: 1080px;
  margin: 0 auto 50px auto;
  background-color: #FFF;
}

.body-wrapper {
  width: 1080px;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: 10px;
}
.guild-description {
  padding: 115px 0 200px 0;
}
.guild-description h2 {
  font-size: 26px;
  font-family: sans-serif;
  text-align: center;
}
.underBar div {
  margin-bottom: 80px;
}
.guild-description__text {
  padding: 0 110px;
}
.guild-description p {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 68px;
  text-align: center;
}
.quest-types h2 {
  font-size: 26px;
  font-family: sans-serif;
  text-align: center;
}
.quest-types__image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.quest-types__image::after {
  display: block;
  content: "";
  clear: both;
}
.quest-types__image li {
  list-style: none;
  width: 350px;
  margin: 0 auto;
}
.quest-types__image li img {
  width: 300px;
  margin: 0 auto;
  margin-left: 20px;
}
.quest-type__description {
  padding-top: 150px;
}
.quest-type__description li {
  margin-bottom: 120px;
  list-style: none;
}
.quest-type__flex-item {
  display: flex;
  flex-direction: row-reverse;
  width: 1000px;
  margin: 0 auto;
}
.quest-type__flex-item::after {
  content: "";
  display: block;
  clear: both;
}
.quest-type__description h3 {
  text-align: left;
  margin: 0 0 30px 200px;
}
.quest-type__description p {
  text-align: center;
  line-height: 36px;
  margin: 0 20px;
  width: 420px;
  height: 300px;
}
.quest-type__description img {
  margin: 0 120px 0 20px;
  width: 300px;
  height: 300px;
  border-radius: 5px;
}
.object-position {
  object-fit: cover;
  object-position: 60% ;
}
.object-position__adjust {
  object-fit: cover;
  object-position: 20px 20px;
}
.text-padding {
  padding: 70px 1em 1em 1em;
}
.text-padding__adjust {
  padding-top: 100px;
}
.invitation-button {
  background-color: #232f3e;
  border: solid 3px rgb(157, 255, 157);
  border-radius: 5px;
  width: 360px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  color: #FFF;
  padding-top: 10px;
  text-decoration: none;
}
.invitation-button__style {
  color: #FFF;
  text-decoration: none;
}
.invitation-button__style:visited {
  color: #FFF;
  text-decoration: none;
}
.levelup-description {
  padding: 0 100px 120px;
  margin-top: 200px;
}
.levelup-description h2 {
  font-size: 26px;
  font-family: sans-serif;
  text-align: center;
}
.levelup-description__part1 {
  width: 880px;
  display: flex;
}
.levelup-description__part1 p {
  width: 400px;
  margin: 0 20px 80px;
  padding-top: 150px;
  text-align: center;
  line-height: 32px;
}
.levelup-description__part1 img {
  width: 400px;
  margin: 0 20px;
}
.levelup-description__part2 {
  width: 880px;
  display: flex;
  flex-direction: row-reverse;
}
.levelup-description__part2 p {
  width: 400px;
  margin: 0 20px 80px;
  padding-top: 150px;
  text-align: center;
  line-height: 32px;
}
.levelup-description__part2 img {
  width: 400px;
  margin: 0 20px;
}
.underline {
  border-bottom:solid 3px red;
}
.section-invitation {
  padding: 0 100px 120px;
}
.section-invitation__line {
  font-size: 32px;
  text-align: center;
  margin-bottom: 80px;
}
.invitation-button__business-owners {
  background-color: #232f3e;
  border: solid 3px rgb(157, 255, 157);
  border-radius: 5px;
  width: 360px;
  height: 60px;
  margin: 50px auto;
  text-align: center;
  font-size: 1.5rem;
  color: #FFF;
  padding-top: 10px;
  text-decoration: none;
}