@charset "UTF-8";

.main {
  background-color: #31575b96;
  width: 100%;
  padding: 40px 40px 200px 40px;
}
.section-top {
  width: 100vw;
  height: 500px;
  margin: -40px calc(50% - 50vw) 50px;
  background-image: url("../img/guild/guildTop.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.section-top p {
  padding: 10px;
  width: 100%;
  color: #FFF;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.section-top__caption span {
  font-size: 2rem;
  border-bottom: white solid 1px;
  font-weight: bold;
}

.body-wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: 10px;
  position: relative;
  bottom: 100px;
}

.display-inline-on-smartphone {
  display: none;
}

@media (max-width:425px) {
  .main {
    background-color: #31575b96;
    width: 100%;
    padding: 40px 24px 50px;
  }
  .section-top {
    width: 100vw;
    height: 100vw;
    margin: -40px calc(50% - 50vw) 50px calc(50% - 50vw);
    background-image: url("../img/guild/guildTop.jpg");
    background-size: cover;
    background-position: center;
  }
  .body-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 90px;
  }
  .display-none-on-smartphone {
    display: none;
  }
  .display-inline-on-smartphone {
    display: inline;
  }
}

.guild-description {
  padding: 115px 0 100px 0;
}
.guild-description h2 {
  font-size: 26px;
  font-family: sans-serif;
  text-align: center;
}
.underBar div {
  margin-bottom: 40px;
}
.guild-description__text {
  padding: 0 auto;
}
.guild-description p {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 40px;
  text-align: center;
}
@media (max-width:425px) {
  .guild-description {
    padding: 50px 0 30px 0;
  }
  .guild-description h2 {
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    padding: 0 20px;
  }
  .underBar div {
    width: calc(100% - 30px);
    background-color: #232f3e42;
    margin-bottom: 30px;
  }
  .guild-description__text {
    padding: 0 12px;
  }
  .guild-description p {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 24px;
    text-align: left;
  }
}

.quest-types h2 {
  font-size: 26px;
  font-family: sans-serif;
  text-align: center;
}
.quest-types__image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.quest-types__image::after {
  display: block;
  content: "";
  clear: both;
}
.quest-types__image li {
  list-style: none;
  width: 350px;
  margin: 0 auto;
}
.quest-types__image li img {
  width: 300px;
  margin: 0 auto;
  margin-left: 20px;
}
.quest-type__description {
  padding-top: 150px;
}
.quest-type__description li {
  margin-bottom: 120px;
  list-style: none;
}
.quest-type__flex-item {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.quest-type__flex-item::after {
  content: "";
  display: block;
  clear: both;
}
.quest-type__description h3 {
  text-align: left;
  margin: 0 0 0 0;
  font-size: 1.5rem;
  border-bottom: black solid 1px;
  
}
.quest-type__description p {
  text-align: center;
  line-height: 36px;
  width: 100%;
  font-size: 1.5rem;
}

.quest-type__description img {
  max-width: 300px;
  max-height: 300px;
  width: 40vw;
  height: 40vw;
  border-radius: 5px;
}

.quest-type__text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.object-position {
  object-fit: cover;
  object-position: 60% ;
}
.object-position__adjust {
  object-fit: cover;
  object-position: 0 20px;
}
.text-padding__adjust {
  padding-top: 100px;
}

@media (max-width:425px) {
  .quest-types h2 {
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    padding: 0 20px;
  }
  .quest-types__image {
    display: none;
  }
  .quest-type__description {
    padding-top: 0;
  }
  .quest-type__description li {
    margin-bottom: 40px;
    list-style: none;
  }
  .quest-type__flex-item {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .quest-type__description h3 {
    width: 100%;
    text-align: left;
    margin: 0 auto;
    padding-left: 20px;
    border: none;
    font-size: 1.2rem;
  }
  .quest-type__description p {
    text-align: center;
    line-height: 36px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    font-size: 1.1rem;
  }
  .quest-type__description img {
    margin: 10px auto;
    max-width: none;
    width: calc(100vw - 74px);
    height: calc(100vw - 74px);
    border-radius: 5px;
  }
  .quest-type__text {
    width: 100%;

  }
  .text-padding {
    padding: 40px 1em 1em 1em;
  }
  .text-padding__adjust {
    padding-top: 50px;
  }
  .object-position {
    object-fit: cover;
    object-position: 60% ;
  }
  .object-position__adjust {
    object-fit: cover;
    object-position: 0 20px;
  }
}

.invitation-button {
  background-color: #232f3e;
  border: solid 3px rgb(157, 255, 157);
  border-radius: 5px;
  width: 360px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFF;
  padding-top: 10px;
  text-decoration: none;
}
.invitation-button__style {
  color: #FFF;
  text-decoration: none;
}
.invitation-button__style:visited {
  color: #FFF;
  text-decoration: none;
}
@media (max-width:425px) {
  .invitation-button {
    background-color: #232f3e;
    border: solid 3px rgb(157, 255, 157);
    border-radius: 5px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    text-align: center;
    font-size: 1rem;
    color: #FFF;
    padding: 1em;
    text-decoration: none;
  }
}
.levelup-description {
  padding: 0 0 120px;
  margin-top: 200px;
}
.levelup-description h2 {
  font-size: 26px;
  font-family: sans-serif;
  text-align: center;
}
.levelup-description__part1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.levelup-description__text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}

.levelup-description__part1 p {
  text-align: center;
  line-height: 32px;
}
.levelup-description__part1 img {
  max-width: 400px;
  max-height: 400px;
  width: 28vw;
  height: 28vw;
}
.levelup-description__part2 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.levelup-description__part2 p {
  text-align: center;
  line-height: 32px;
}
.levelup-description__part2 img {
  max-width: 380px;
  max-height: 380px;
  width: 28vw;
  height: 28vw;
  margin: 20px;
}


@media (max-width:425px) {
  .levelup-description {
    padding: 0 0 50px;
    margin-top: 50px;
  }
  .levelup-description h2 {
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    padding: 0 20px;
  }
  .levelup-description__text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
  }
  .levelup-description__part1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .levelup-description__part1 p {
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    text-align: left;
    line-height: 24px;
    padding: 0 12px;
  }
  .levelup-description__part1 p br {
    display: none;
  }
  .levelup-description__part1 img {
    width: 50vw;
    margin: 0 auto;
    height: 50vw;
  }
  .levelup-description__part2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .levelup-description__part2 p {
    width: 100%;
    margin: 0;
    padding-top: 50px;
    text-align: left;
    line-height: 24px;
    padding: 0 12px;
  }
  .levelup-description__part2 p br {
    display: none;
  }
  .levelup-description__part2 img {
    width: 50vw;
    margin: 20px;
    height: 50vw;
  }
}


.underline {
  border-bottom:solid 2px red;
}
.section-invitation {
  padding: 0 100px 120px;
}
.section-invitation__line {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 80px;
}
.invitation-button__business-owners {
  background-color: #232f3e;
  border: solid 3px rgb(157, 255, 157);
  border-radius: 5px;
  width: 360px;
  height: 60px;
  margin: 50px auto;
  text-align: center;
  font-size: 1.5rem;
  color: #FFF;
  padding-top: 10px;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width:425px) {
.section-invitation {
  padding: 0 0 50px;
}
.section-invitation__line {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 30px;
}
  .invitation-button__business-owners {
    background-color: #232f3e;
    border: solid 3px rgb(157, 255, 157);
    border-radius: 5px;
    width: 80%;
    height: auto;
    margin: 50px auto 0;
    text-align: center;
    font-size: 1rem;
    color: #FFF;
    padding: 1em;
    text-decoration: none;
  }
}