* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#start {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 30;
}

header {
  height: 80px;
  background-color: #232f3e;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.bottomMenu {
  height: 100vh;
  position: fixed;
  width: 10vw;
  z-index: 10;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.bottomMenu > a {
  text-decoration: none;
}

.bottomMenuItem {
  border-left: 1px solid #0000007c;
  background-color: #0000007c;
  width:9vw;
  height: 60px;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.bottomMenuItem:hover {
  border-left: 1px solid #000000;
  background-color: #000000c7;
  width:9vw;
  height: 60px;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.bottomMenuItem > img {
  width: 25px;
  margin: auto 0;
}

.bottomMenuItem > p {
  font-size: 0.9rem;
}

.underBar {
  display: flex;
  justify-content: center;
}

.underBar div {
  height: 5px;
  width: 50px;
  background-color: red;
}

.logo {
  padding: 3px;
  z-index: 10;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
  font-family:sans-serif;
  font-size: 1em;
}

main {
  font-family: sans-serif;
}

.mainVisual {
  background-image: url(../img/mainVisual.jpg);
  height: 500px;
  background-size: cover;
  background-position: 50% 70%;
}

.mainVisual-text {
  position: absolute;
  right: 0;
  height: 500px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.527);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
  text-align: center;
}

.news {
  margin-top: 30px;
}

.news-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.news-box-contents {
  display: flex;
  width: 80%;
  box-shadow: 0 0 2px black;
}

.news-box-content {
  width: 50%;
}

.note-embed {
  border: 0;
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 10px 10px 0px 10px;
  margin: 0px 0px;
  position: static;
  visibility: visible;
}

.readMore {
  text-decoration: none;
  color: gray;
  text-align: center;
  padding: 5px;
}

.about {
  margin-top: 30px;
}

.heading {
  text-align: center;
}

.aboutMsg {
  margin: 50px 0 30px;
}

.aboutMsg div {
  text-align: center;
  color: #000000;
}

.about-box {
  display: flex;
  justify-content: center;
}

.about-border {
  background-color: rgb(157, 255, 157);
  height: 100px;
  width: 600px;
  margin: 50px;
}

.about-border a {
  text-decoration: none;
}

.aboutItem {
  height: 100px;
  width: 600px;
  position: relative;
  bottom: 10px;
  right: 10px;
  transition: transform 300ms 100ms ease;
  background-image: url(../img/mainVisual.jpg);
  background-position: center;
  background-size: cover;
}
.aboutItem:hover {
  transform: translate(10px, 10px);
}

.about-text-box {
  background-color: rgba(0, 0, 0, 0.493);
  height: 100%;
}

.about-text-box h1 {
  color: white;
  line-height: 100px;
  text-align: center;
}

.products {
  margin: 10px auto;
}

.product-box {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.product-border {
  background-color: rgb(157, 255, 157);
  height: 210px;
  width: 210px;
  margin: 30px 25px;
}

.product-border a {
  text-decoration: none;
}

.product {
  height: 210px;
  width: 210px;
  position: relative;
  bottom: 10px;
  right: 10px;
  background-color: rgb(157, 255, 157);
  transition: transform 300ms 100ms ease;
}
.product:hover {
  transform: translate(10px, 10px);
}

.product-text-box {
  background-color: rgba(0, 0, 0, 0.493);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.gourmetBin {
  background-image: url(../img/gourmetBin.jpg);
  background-position: center;
  background-size: cover;
}

.coTango {
  background-image: url(../img/coTango.jpg);
  background-position: center;
  background-size: cover;
}

.himitsukichi {
  background-image: url(../img/himitsukichi.jpg);
  background-position: center;
  background-size: cover;
}

#popUpBackground {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.842);
  z-index: 20;
}

.closePopUp {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 3rem;
}

#popUpGourmetBin, #popUpCoTango, #popUpHimitsukichi {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0);
  z-index: 21;
  transform: translate(-50%, -50%);
  padding: 30px 50px 30px 50px;
}

.popUp {
  text-align: center;
  color: #ffffff;
}

.popUp > h1{
  margin: 40px 30px 30px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.popUp > a {
  text-decoration: none;
}

.popUpLink {
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
}

.popUpLink:hover {
  border: 1px solid rgb(255, 255, 255);
  color: #000000;
  background-color: #ffffff;
}

.contact {
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-top: 50px;
  background-image: url(../img/contact.jpg);
  height: 650px;
  background-size: cover;
  background-position: 50% 80%;
  color: white;
}

.form-box {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.527);
  width: 400px;
}

.form-box h1 {
  margin: 20px;
}

#contactForm div {
  margin-top: 20px;
}

input, textarea {
  font-size: 1.3rem;
  width: 90%;
}

.contactFormBtn {
  text-align: center;
  margin: 10px;
  padding: 10px 100px;
  background-color: rgba(100, 245, 100, 0.493);
  color: #ffffff;
  line-height: 1em;
  transition: 3ms;
  border: 1px solid rgb(157, 255, 157);
}
.contactFormBtn:hover {
  color: rgb(157, 255, 157);
  background-color: #ffffff;
}

footer {
  height: 120px;
  background-color: #232f3e;
  line-height: 120px;
  color: white;
  text-align: center;
}

@media screen and (max-width:425px) {

  .bottomMenu {
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-flow: wrap;
    justify-content: center;

  }

  .bottomMenuItem {
    border-left: none;
    background-color: #0000007c;
    width:25vw;
    height:60px;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .bottomMenuItem:hover {
    border-left: 1px solid #000000c7;
    background-color: #000000c7;
    width:25vw;
    height: 60px;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  header {
    height: 100px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }

  .logo {
    top: 27px;
    left: 10px;
  }

  .mainVisual {
    height: 100vw;
  }

  .mainVisual-text {
    height: 100vw;
    width: 100%;
  }


  .news {
    margin-top: 20px;
  }

  .news-box {
    margin-top: 23px;
    height: 500px;
  }

  .news-box-contents {
    width: 100%;
    box-shadow: none;
  }

  .news-box-content {
    width: 100%;
  }

  .news-box-content:nth-child(1) {
    display: none;
  }

  .aboutMsg {
    margin: 20px 0 30px;
  }

  .aboutMsg div {
    font-size: 0.65rem;
  }

  .about-border {
    width: 80%;
    margin: 25px;
  }

  .aboutItem {
    width: 100%;
  }

  .about-text-box {
    font-size: 0.65rem;
  }

  .product-box {
    flex-direction: column;
  }

  .product-border {
    height: 100px;
    width: 85%;
  }

  .product {
    height: 100px;
    width: 100%;
  }

  .product-text-box {
    font-size: 0.65rem;
  }


  #popUpGourmetBin, #popUpCoTango, #popUpHimitsukichi {
    top: 43%;
    height: 60vh;
    padding: 30px 10px;
    font-size: 0.65rem;
  }

  .contact {
    padding: 0;
  }

  .form-box {
    width: 100%;
    padding-top: 20px;
  }

  footer {
    height: 180px;
  }

}