@charset "UTF-8";

.main {
  background-color: #31575b96;
  width: 100%;
  min-height: calc(100vh - 180px);
  padding: 40px 2vw 200px 2vw;
}

.body-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: 10px;
}

@media (max-width:425px) {
  .main {
    background-color: #31575b96;
    width: 100%;
    padding: 0;
  }

  .body-wrapper {
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
  }
}

.guild-description {
  padding: 115px 0 200px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.quest-list {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.quest-box {
  border: rgba(0, 0, 0, 0.459) solid 1px;
  width: 40vw;
  min-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: rgba(72, 72, 72, 0.194) 10px 10px 20px;
  border-radius: 10px;
  padding: 20px 0;
  position: relative;
  margin-bottom: 50px;
}

.quest-box__done {
  border: rgba(0, 0, 0, 0.459) solid 1px;
  width: 40vw;
  min-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: rgba(72, 72, 72, 0.194) 10px 10px 20px;
  border-radius: 10px;
  padding: 20px 0;
  position: relative;
  margin-bottom: 50px;
}

.quest-box__done::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.146);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -20px 0;
  border-radius: 10px;
}

.quest-title {
  width: 100%;
  text-align: center;
  font-size: max(1.5vw, 0.9rem);
}

.quest-type {
  font-size: max(1.3vw,0.8rem);
}

.quest-image {
  width: 100%;
  object-fit: cover;
  margin: 10px 0;
  background-color: #232f3e;
  aspect-ratio: 16 / 9;
}

.quest-description {
  margin: 5px 0;
  font-size: max(1.2vw,0.9rem);
  padding: 10px;
}

.quest-info {
  margin: 5px 0;
  font-size: max(1.2vw,0.9rem);
}

.map-link {
  color: rgb(131, 131, 131);
}

.quest-box > a {
  width: 100%;
  text-align: center;
  margin: 10px 0 ;
  text-decoration: none;
  color: black;
  font-size: max(1.5vw,0.9rem);
}

.quest-box__done > a {
  width: 100%;
  text-align: center;
  margin: 10px 0 ;
  text-decoration: none;
  color: black;
  font-size: max(1.5vw,0.9rem);
}

.guild-description h2 {
  font-size: 26px;
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

.underBar {
  width: 100%;
}

.underBar div {
  margin-bottom: 40px;
}
.guild-description__text {
  padding: 0 110px;
}

.invitation-button {
  background-color: #232f3e;
  border: solid 3px rgb(157, 255, 157);
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-size: max(1.3vw,0.9rem);
  font-weight: bold;
  color: #FFF;
  
  text-decoration: none;
}

.invitation-button {
  background-color: #232f3e;
  border: solid 3px rgb(157, 255, 157);
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-size: max(1.3vw,0.9rem);
  font-weight: bold;
  color: #FFF;
  
  text-decoration: none;
}
.done {
  background-color: #ffffff;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-size: max(1.3vw,0.9rem);
  font-weight: bold;
  color: #000;
  
  text-decoration: none;
}
.invitation-button__style {
  color: #FFF;
  text-decoration: none;
}
.invitation-button__style:visited {
  color: #FFF;
  text-decoration: none;
}

@media (max-width:425px) {
  .quest-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  .guild-description {
    padding: 50px 0 80px 0;
  }
  .underBar div {
    margin-bottom: 30px;
  }
  .guild-description__text {
    padding: 0 12px;
  }
  .guild-description h2 {
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    padding: 0 20px;
  }
}

@media (min-width:426px) {
  .display-none-except-smartphone {
    display: none;
  }
}